### Importing Libraries

In [1]:
import os
import pandas as pd

### Checking Current Working Directory

In [2]:
cwd = os.getcwd()
cwd

'C:\\Users\\harsh\\Desktop\\python-assignment-level2-6ed53b4e828af18bc24b1770a3a3e3e70706e785'

### Reading the Data From FinalCustomersData CSV File

In [3]:
final_df_analyse = pd.read_csv('./1.Full_Customer_Data.csv')

In [4]:
final_df_analyse.head()

,customer_id,loyalty_score,product_id,product_description,product_category,basket,date_of_purchase
0,C1,7.0,NaN,NaN,NaN,NaN,NaN
1,C2,4.0,NaN,NaN,NaN,NaN,NaN
2,C3,8.0,NaN,NaN,NaN,NaN,NaN
3,C4,5.0,NaN,NaN,NaN,NaN,NaN
4,C5,7.0,NaN,NaN,NaN,NaN,NaN

### Checking DataTypes

In [5]:
final_df_analyse.dtypes

customer_id             object
loyalty_score          float64
product_id              object
product_description     object
product_category        object
basket                  object
date_of_purchase        object
dtype: object

### Checking Null Values

In [6]:
round(100*(final_df_analyse.isnull().sum())/len(final_df_analyse), 2)

customer_id            28.70
loyalty_score          38.57
product_id             71.30
product_description    71.30
product_category       71.30
basket                 90.13
date_of_purchase       90.13
dtype: float64

### Treating NULL Values

In [7]:
# Filling Mode of the column in place of NA
final_df_analyse.customer_id = final_df_analyse.customer_id.fillna(final_df_analyse['customer_id'].value_counts().idxmax())
final_df_analyse.loyalty_score = final_df_analyse.loyalty_score.fillna(final_df_analyse['loyalty_score'].value_counts().idxmax())
final_df_analyse.product_id = final_df_analyse.product_id.fillna(final_df_analyse['product_id'].value_counts().idxmax())
final_df_analyse.product_description = final_df_analyse.product_description.fillna(final_df_analyse['product_description'].value_counts().idxmax())
final_df_analyse.product_category = final_df_analyse.product_category.fillna(final_df_analyse['product_category'].value_counts().idxmax())
final_df_analyse.date_of_purchase = final_df_analyse.date_of_purchase.fillna(final_df_analyse['date_of_purchase'].value_counts().idxmax())
final_df_analyse.basket = final_df_analyse.basket.fillna(final_df_analyse['basket'].value_counts().idxmax())

final_df_analyse

,customer_id,loyalty_score,product_id,product_description,product_category,basket,date_of_purchase
0,C1,7.0,P01,detergent,food,"[{'product_id': 'P26', 'price': 1545}, {'produ...",2018-12-01 06:26:00
1,C2,4.0,P01,detergent,food,"[{'product_id': 'P26', 'price': 1545}, {'produ...",2018-12-01 06:26:00
2,C3,8.0,P01,detergent,food,"[{'product_id': 'P26', 'price': 1545}, {'produ...",2018-12-01 06:26:00
3,C4,5.0,P01,detergent,food,"[{'product_id': 'P26', 'price': 1545}, {'produ...",2018-12-01 06:26:00
4,C5,7.0,P01,detergent,food,"[{'product_id': 'P26', 'price': 1545}, {'produ...",2018-12-01 06:26:00
...,...,...,...,...,...,...,...
218,C107,7.0,P01,detergent,food,"[{'product_id': 'P61', 'price': 3}]",2018-12-01 06:42:00
219,C125,7.0,P01,detergent,food,"[{'product_id': 'P09', 'price': 1330}]",2018-12-01 19:45:00
220,C129,7.0,P01,detergent,food,"[{'product_id': 'P09', 'price': 1360}, {'produ...",2018-12-01 10:38:00
221,C130,7.0,P01,detergent,food,"[{'product_id': 'P04', 'price': 515}, {'produc...",2018-12-01 20:54:00
222,C135,7.0,P01,detergent,food,"[{'product_id': 'P46', 'price': 1158}, {'produ...",2018-12-01 22:49:00

### Checking Null Values Again

In [8]:
round(100*(final_df_analyse.isnull().sum())/len(final_df_analyse), 2)

customer_id            0.0
loyalty_score          0.0
product_id             0.0
product_description    0.0
product_category       0.0
basket                 0.0
date_of_purchase       0.0
dtype: float64

### Creating Final Customer Data

In [9]:
final_customer_data = final_df_analyse.groupby(['customer_id','product_id','product_category']).size().reset_index(name='purchase_count')
final_customer_data

    customer_id product_id product_category  purchase_count
0            C1        P01             food               1
1           C10        P01             food               1
2          C100        P01             food               1
3          C101        P01             food               1
4          C102        P01             food               2
..          ...        ...              ...             ...
196         C95        P01             food               2
197         C96        P01             food               2
198         C97        P01             food               2
199         C98        P01             food               2
200         C99        P01             food               1

[201 rows x 4 columns]

In [10]:
final_customer_data['loyalty_score'] = final_df_analyse['loyalty_score']

In [11]:
final_customer_data.head()

  customer_id product_id product_category  purchase_count  loyalty_score
0          C1        P01             food               1            7.0
1         C10        P01             food               1            4.0
2        C100        P01             food               1            8.0
3        C101        P01             food               1            5.0
4        C102        P01             food               2            7.0

### Converting DataFrame to CSV File`

In [12]:
final_customer_data.to_csv('./2.Final_Customer_Data.csv')