### Importing Libraries

In [1]:
import os
import pandas as pd

### Checking Current Working Directory

In [2]:
cwd = os.getcwd()
cwd

'C:\\Users\\harsh\\Desktop\\python-assignment-level2-6ed53b4e828af18bc24b1770a3a3e3e70706e785\\Solution'

### Creating Base & Data Directory

In [3]:
BASE_DIR  = os.path.dirname(cwd)
DATA_DIR = os.path.join(BASE_DIR,'input_data\\starter')
DATA_DIR

'C:\\Users\\harsh\\Desktop\\python-assignment-level2-6ed53b4e828af18bc24b1770a3a3e3e70706e785\\input_data\\starter'

In [4]:
os.listdir(DATA_DIR)

['customers.csv', 'products.csv', 'transactions']

### Loading Data From CSV Files

In [5]:
# Loading Data From Customers.csv

my_data1 = os.path.join(DATA_DIR,'customers.csv')
customers_data = pd.read_csv(my_data1)
customers_data.head()

  customer_id  loyalty_score
0          C1              7
1          C2              4
2          C3              8
3          C4              5
4          C5              7

In [6]:
# Loading Data From Products.csv

my_data2 = os.path.join(DATA_DIR,'products.csv')
product_data = pd.read_csv(my_data2)
product_data.head()

  product_id product_description product_category
0        P01           detergent            house
1        P02        kitchen roll            house
2        P03          bin liners            house
3        P04          shower gel            house
4        P05     scented candles            house

In [7]:
import glob
import pandas as pd

my_data3 = os.path.join(DATA_DIR,'transactions')
my_data3 += '\d*\*.json'
li=[]

def pd_read_pattern(pattern):
    files = glob.glob(pattern)
    transaction_data = pd.DataFrame()
    
    for f in files:
        transaction_data=pd.read_json(f,lines=True)
        li.append(transaction_data)
        
    return transaction_data.reset_index(drop=True)
transaction_data = pd_read_pattern(my_data3)
transaction_data=pd.concat(li)
transaction_data

,customer_id,basket,date_of_purchase
0,C3,"[{'product_id': 'P26', 'price': 1545}, {'produ...",2018-12-01 06:26:00
1,C11,"[{'product_id': 'P02', 'price': 1650}, {'produ...",2018-12-01 21:19:00
2,C21,"[{'product_id': 'P05', 'price': 594}, {'produc...",2018-12-01 10:09:00
3,C31,"[{'product_id': 'P34', 'price': 983}, {'produc...",2018-12-01 14:23:00
4,C37,"[{'product_id': 'P63', 'price': 1559}, {'produ...",2018-12-01 07:08:00
...,...,...,...
21,C101,"[{'product_id': 'P04', 'price': 607}, {'produc...",2019-03-01 21:15:00
22,C103,"[{'product_id': 'P55', 'price': 1311}, {'produ...",2019-03-01 21:40:00
23,C123,"[{'product_id': 'P01', 'price': 1334}, {'produ...",2019-03-01 13:05:00
24,C131,"[{'product_id': 'P28', 'price': 842}, {'produc...",2019-03-01 09:07:00
25,C134,"[{'product_id': 'P33', 'price': 314}, {'produc...",2019-03-01 14:14:00

# Concatinating All Dataframes

In [8]:
Final_df = pd.concat([customers_data,product_data,transaction_data])
Final_df

,customer_id,loyalty_score,product_id,product_description,product_category,basket,date_of_purchase
0,C1,7.0,NaN,NaN,NaN,NaN,NaN
1,C2,4.0,NaN,NaN,NaN,NaN,NaN
2,C3,8.0,NaN,NaN,NaN,NaN,NaN
3,C4,5.0,NaN,NaN,NaN,NaN,NaN
4,C5,7.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
21,C101,NaN,NaN,NaN,NaN,"[{'product_id': 'P04', 'price': 607}, {'produc...",2019-03-01 21:15:00
22,C103,NaN,NaN,NaN,NaN,"[{'product_id': 'P55', 'price': 1311}, {'produ...",2019-03-01 21:40:00
23,C123,NaN,NaN,NaN,NaN,"[{'product_id': 'P01', 'price': 1334}, {'produ...",2019-03-01 13:05:00
24,C131,NaN,NaN,NaN,NaN,"[{'product_id': 'P28', 'price': 842}, {'produc...",2019-03-01 09:07:00
25,C134,NaN,NaN,NaN,NaN,"[{'product_id': 'P33', 'price': 314}, {'produc...",2019-03-01 14:14:00

# Saving the final Dataframe into CSV

In [9]:
Final_df.to_csv('./1.Full_Customer_Data.csv',index=False)